<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>St. Kraut - Boris & Gleb (2020)</title>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
<body>
    <div class="backgroundep1">
        <div class="container">
            <a href="{{ url_for('index') }}" class="mainlink">
                <div class="bandnameep">• St. Kraut •</div>
            </a>
            <div class="bandcamp1">
                <div class="titleep1">Boris & Gleb</div>
                <div class="bandcamp+links">
                    <div class="readandlisten">
                        <div>Читать</div> <div>|</div> <div>Слушать</div>
                    </div>
                    <div class="bandcamp">
                        <iframe style="border: 0; width: 370px; height: 620px;" src="https://bandcamp.com/EmbeddedPlayer/album=3586095629/size=large/bgcol=333333/linkcol=9a64ff/transparent=true/" seamless><a href="https://stkraut.bandcamp.com/album/boris-gleb">Boris &amp; Gleb by St. Kraut</a></iframe>
                    </div>
                    <div class="streaminglinks">
                        <a href="#" class="streaminglink">
                            <img src="/static/img/link-apple.jpg" alt="Apple" class="linkimage">
                        </a>
                        <a href="#" class="streaminglink">
                            <img src="/static/img/link-sporify.jpg" alt="Spotify" class="linkimage">
                        </a>
                        <a href="#" class="streaminglink">
                            <img src="/static/img/link-yandex.jpg" alt="Yandex" class="linkimage">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>