<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>St. Kraut - Something That We Don't Remember</title>
<link rel="stylesheet" href="/static/css/secretstyles.css">
</head>
<body>

<div class="container">
  <div class="background"></div>
  <div class="music-player">
    <a href="{{ url_for('index') }}" class="mainlink">
        <div class="bandnameep">• St. Kraut •</div>
    </a>
    <h2 class="title">Something That We Don't Remember</h2>
    <audio controls>
      <source src="/static/audio/SomethingThatWeDontRemember.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>

</body>
</html>
